<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Truckpool - Post</title>
    <meta charset="utf-8"/>
      <link href="../css/Alexis_Main_CSS.css" rel="stylesheet" type="text/css">
      <style>
          #h2{
            text-align: center;
            font-family:"Helvetica Neue", Gotham, Helvetica, Arial, sans-serif; 
          }
           #fav {
            background-color: #13293D;
            width: 70px;
            height: 50px;
            margin-left: 3px;


            }

            #save {
                background-color: #13293D;
                width: 100px;
                height: 50px;
                margin-left: 3px;

            }

          body {
            text-align: center;
          }
      </style>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<body>

<script>
$(document).ready(function(){
    var id = localStorage.getItem("adId");
    $.ajax({
                url:"../controller/ImageCont.php",
                dataType:"json",
                type:"POST",
                data:{
                    method:"single_ad",
                    id:id,
                },
                success:function(resp){
                    console.log(resp);
                     for(var i = 0; i<resp.length; i++){
                       
                    var imgs = document.createElement("img");
                            imgs.src = resp[i].path;
                            imgs.style.height = "150px";
                            imgs.style.width = "auto";
                            
                            var p = document.createElement("p");
                            p.innerHTML = "Description: " + resp[i].description;
                            var p3 = document.createElement("p")
                            p3.innerHTML = "Title: " + resp[i].title;
                            var div = document.createElement("div");
                    
                            div.style.border = "solid";
                            div.style.width = "500px";
                            div.style.marginBottom = "10px";
                            div.style.padding = "10px";
                            div.style.marginRight = "auto";
                            div.style.marginLeft = "auto";
                            div.style.textAlign = "center";
                            document.body.appendChild(div);
                    
                            div.appendChild(p3);
                            div.appendChild(imgs);
                            div.appendChild(p);
                         
                         

                            var cmt = document.createElement("input");
                            cmt.placeholder = "Enter your comment"; 
                            cmt.id = "cmt";
                            div.appendChild(cmt);
               

                            var commentBut = document.createElement("button");
                            commentBut.innerHTML = "Post";
                            div.appendChild(commentBut);


                            var showBut = document.createElement("button");
                            showBut.innerHTML = "View all";
                            showBut.id = "ShowCommentsBut";
                            div.appendChild(showBut);
                            
                            var fav = document.createElement("button");
                            fav.id = resp[i].id;
                            fav.innerHTML = "Favourite this post!";
                            div.appendChild(fav);
                         
                            fav.onclick = function() {
                                alert("favourited");
                                console.log(this.id);
                                console.log(localStorage.getItem("user_id"));
                                $.ajax({
                                        url:"../controller/CommentCont.php",
                                        dataType:"json",
                                        type:"POST",
                                        data:{
                                            method:"favourite",
                                            imageId: this.id,
                                            userId: localStorage.getItem("user_id")


                                        },
                                        success:function(resp){
                                            console.log(resp);
                                            //alert("Comment successfully favourited!");
                                            //location.reload();
                                            }
                                        });
                              }
                            
                         
                            commentBut.onclick = function(){
                                var commVal = document.getElementById("cmt").value;
                                console.log(commVal);
                                        $.ajax({
                                        url:"../controller/CommentCont.php",
                                        dataType:"json",
                                        type:"POST",
                                        data:{
                                            method:"insert",
                                            imageId: id,
                                            comment:commVal,
                                            userId: localStorage.getItem("user_id")


                                        },
                                        success:function(resp){
                                            console.log(resp);
                                            alert("Comment successfully posted!");
                                            //location.reload();
                                            }
                                        });


                                    }
                            
                                showBut.onclick = function(){
                                     $.ajax({
                                        url:"../controller/CommentCont.php",
                                        dataType:"html",
                                        type:"POST",
                                        data:{
                                            method:"display",
                                            imageId: id
                                        },
                                        success:function(resp){
                                            console.log(JSON.parse(resp));
                                            var gallery2 = JSON.parse(resp);
                                            for(var i = 0; i<gallery2.length;i++){
                                                var newdiv = document.createElement("div");
                                                div.appendChild(newdiv);
                                                var pComment = document.createElement("p");
                                                pComment.innerHTML = gallery2[i].text;
                                               
                                                newdiv.appendChild(pComment);
                                                newdiv.style.border = "solid";
                                                newdiv.style.padding = "4px";
                                                newdiv.style.marginBottom = "4px";
                                                var save = document.createElement("button");
                                                save.innerHTML = "Save this comment!";
                                               // save.id = "save";
                                                newdiv.appendChild(save);
                                                
                                                
                                                save.id = gallery2[i].id;
                                        
                                                save.onclick = function(){
                                                    
                                                    saveId = this.id;
                                                    
                                                    console.log(saveId);
                                                    localStorage.setItem("saved_id", saveId);
                                                    console.log(saveId);
                                                     $.ajax({
                                                        url:"../controller/CommentCont.php",
                                                        dataType:"html",
                                                        type:"POST",
                                                        data:{
                                                            method:"save",
                                                            user: localStorage.getItem("user_id"),
                                                            comment: localStorage.getItem("saved_id"),
                                                        },
                                                        success:function(resp){
                                                            console.log(resp);
                                                
                                                
                                                }
                            
                                                     });
                                                

                                            }
                                        }
                                        }
                                         
                            });
                                
                                
                                }
                            
                            
                            }
                     }
                
    });
});
 
 

</script>
    
</body>
</html>